/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }
  
  a {
    color: #000000;
    text-decoration: none;
  }
  
  a:hover {
    color: #51cdbe;
    text-decoration: none;
  }
  a .active{
    color: #51cdbe;
    
  }
  
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  
  #main {
    margin-top: 50px;
  }
  @media (max-width: 992px) {
    #main {
      margin-top: 30px;
    }
  }
  
  /*--------------------------------------------------------------
  # Preloader
  --------------------------------------------------------------*/
  #preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
  }
  
  #preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #34b7a7;
    border-top-color: #dcf5f2;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
  }
  
  @-webkit-keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-preloader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #34b7a7;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
  }
  .back-to-top i {
    font-size: 24px;
    color: #fff;
    line-height: 0;
  }
  .back-to-top:hover {
    background: #49cbbb;
    color: #fff;
  }
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
  }

  .btn-button {

    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 40px;
    border: 1px solid transparent;
    border-radius: 0px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #34b7a7;
  }
 .btn-button:hover {
    background: #fff;
    color: #34b7a7;
    border: 1px solid #34b7a7 ;
 
  }
  
  /*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
  #header {
    background: #e9e8e6;
    box-shadow: 0px 0px 25px 0 rgba(0, 0, 0, 0.08);
    z-index: 997;
    padding: 15px 0;
  }
  #header .logo {
    font-size: 32px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  #header .logo a {
    color: #222222;
  }
  #header .logo img {
    max-height: 40px;
  }
  @media (max-width: 992px) {
    #header .logo {
      font-size: 28px;
    }
  }
  
  /*--------------------------------------------------------------
  # Header Social Links
  --------------------------------------------------------------*/
  .header-social-links {
    padding-right: 15px;
  }
  .header-social-links a {
    color: #6f6f6f;
    padding-left: 6px;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
    font-size: 16px;
  }
  .header-social-links a:hover {
    color: #34b7a7;
  }
  
  /*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
  /**
  * Desktop Navigation 
  */
  .navbar {
    padding: 0;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar li {
    position: relative;
    padding: 10px 0 10px 28px;
  }
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #888888;
    white-space: nowrap;
    transition: 0.3s;
    position: relative;
  }
  .navbar a i, .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  .navbar > ul > li > a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: #34b7a7;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
  }
  .navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
    visibility: visible;
    width: 25px;
  }
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #222222;
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }
  .navbar .dropdown ul li {
    min-width: 200px;
    padding: 0;
  }
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 600;
  }
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #34b7a7;
  }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  
  /**
  * Mobile Navigation 
  */
  .mobile-nav-toggle {
    color: #222222;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
  }
  .mobile-nav-toggle.bi-x {
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .mobile-nav-toggle {
      display: block;
    }
  
    .navbar ul {
      display: none;
    }
  }
  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(9, 9, 9, 0.9);
    transition: 0.3s;
    z-index: 999;
  }
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  .navbar-mobile a, .navbar-mobile a:focus {
    font-size: 15px;
    padding-right: 15px;
    color: #222222;
  }
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #34b7a7;
  }
  .navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
  }
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    color: #34b7a7;
  }
  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }
  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 100vh;
    background: url("../img/herosection_bg.jpg");
    background-position: top right;
    background-size: cover;
     
  }
  #hero .container {
    padding-top: 70px;
    position: relative;
  }
  @media (max-width: 992px) {
    #hero .container {
      padding-top: 58px;
    }
  }
  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #222222;
  }
  #hero h2 {
    color: #424242;
    margin: 10px 0 0 0;
    font-size: 22px;
  }
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  @media (max-width: 992px) {
    #hero:before {
      content: "";
      background: rgba(255, 255, 255, 0.8);
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
    }
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
    }
  }
  
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
  }
  
  .section-bg {
    background-color: #e7f8f6;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  .section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #34b7a7;
    bottom: 0;
    left: calc(50% - 25px);
  }
  .section-title p {
    margin-bottom: 0;
  }
  
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/

  .about .content{
    margin: 0px;
  }
  .about .content h3 {
    font-weight: 700;
    font-size: 26px;
    color: #555555;
  }
  .about .content ul {
    list-style: none;
    padding: 0;
  }
  .about .content ul li {
    padding-bottom: 10px;
  }
  .about .content ul i {
    font-size: 20px;
    padding-right: 2px;
    color: #34b7a7;
  }
  .about .content p:last-child {
    margin-bottom: 0;
  }

  .about .btn-button {
    margin-top: 0 !important;
  }
  
  /*--------------------------------------------------------------
  # Skills
  --------------------------------------------------------------*/
  .skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
  }
  .skills .progress .skill {
    padding: 10px 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #222222;
  }
  .skills .progress .skill .val {
    float: right;
    font-style: normal;
  }
  .skills .progress-bar-wrap {
    background: #f3f3f3;
  }
  .skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background: #34b7a7;
  }
  .skills hr{
    color: #34b7a7;
  }
  .skills .skill-list {
    display: flex;
    flex-wrap: wrap;
  }
  .skills .skill-list .single-skill {
    margin-bottom: 21px;
    display: inline-block;
    flex: 50%;
    width: 50%;
    text-align: center;
  }
 
  .skills .skill-list .single-skill:last-child {
    margin-bottom: 0px;
  }
 
  .skills .round {
    height: 100px;
    width: 100px;
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  
  .skills .round strong {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: #000;
    font-weight: 600;
  }
  
  /*--------------------------------------------------------------
  # Facts
  --------------------------------------------------------------*/
  .facts .counters span {
    font-size: 48px;
    display: block;
    color: #34b7a7;
  }

  .facts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
  }
  
  /*--------------------------------------------------------------
  # Testimonials
  --------------------------------------------------------------*/
  .testimonials .section-header {
    margin-bottom: 40px;
  }
  .testimonials .testimonials-carousel, .testimonials .testimonials-slider {
    overflow: hidden;
  }
  .testimonials .testimonial-item {
    text-align: center;
  }
  .testimonials .testimonial-item .testimonial-img {
    width: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
  }
  .testimonials .testimonial-item h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
  }
  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0 0 15px 0;
  }
  .testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
    color: #c8efea;
    font-size: 26px;
  }
  .testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  .testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
  }
  .testimonials .testimonial-item p {
    font-style: italic;
    margin: 0 auto 15px auto;
  }
  @media (min-width: 992px) {
    .testimonials .testimonial-item p {
      width: 80%;
    }
  }
  .testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  .testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #34b7a7;
  }
  .testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background: #34b7a7;
  }
  
  /*--------------------------------------------------------------
  # Resume
  --------------------------------------------------------------*/
  .resume .resume-title {
    font-size: 26px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #222222;
  }
  .resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #34b7a7;
    position: relative;
  }
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #1d685f;
    margin-bottom: 10px;
  }
  .resume .resume-item h5 {
    font-size: 16px;
    background: #effbf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #34b7a7;
  }
  .resume .resume-item ul {
    padding-left: 20px;
  }
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #34b7a7;
  }
  
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  .services .icon-box {
    text-align: center;
    padding: 70px 20px 80px 20px;
    transition: all ease-in-out 0.3s;
    background: #fff;
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
  }

  .services .icon-box:hover {
    margin-top: -5px;
    margin-bottom: 5px;
    box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.356);
  }

  .services .icon-box .icon {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
    position: relative;
  }
  
  .services .icon-box h4 {
    font-weight: 600;
    margin: 10px 0 15px 0;
    font-size: 22px;
  }
  .services .icon-box h4 a {
    color: #222222;
    transition: ease-in-out 0.3s;
  }
  .services .icon-box p {
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }

  
  
  /*--------------------------------------------------------------
  # Portfolio
  --------------------------------------------------------------*/
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
  }
  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 50px;
  }
  .portfolio #portfolio-flters li:hover,
   .portfolio #portfolio-flters li.filter-active {
    color: #fff;
    background: #34b7a7;
  }
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  .portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(34, 34, 34, 0.6);
  }
  .portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(34, 34, 34, 0.6);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }
  .portfolio .portfolio-wrap img {
    transition: all ease-in-out 0.3s;
  }
  .portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
  }
  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  .portfolio .portfolio-wrap .portfolio-info p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-style: italic;
  }
  .portfolio .portfolio-wrap .portfolio-links {
    text-align: center;
    z-index: 4;
  }
  .portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    margin: 0 5px 0 0;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
  }
  .portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #78d9cd;
  }
  .portfolio .portfolio-wrap:hover::before {
    opacity: 1;
  }
  .portfolio .portfolio-wrap:hover img {
    transform: scale(1.2);
  }
  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
  }
  
/* Pricing Plan Start */
section#pricing{
  position: relative;
  margin-bottom: -30px;
}
.pricing-item .list{
    position: relative;
    margin-top: 25px;
    padding-bottom: 5px;
}
.pricing-item .list ul li{
    list-style: none;
    line-height: 34px;
}
.pricing-item .list ul{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.pricing-item {
  position: relative;
  text-align: center;
}

.pricing-plan .pricing-item {
  cursor: default;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 30px 0px rgba(1, 0, 43, 0.07);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.pricing-plan .pricing-item:hover{
  box-shadow: 4px 10px 30px 0px rgba(1, 0, 43, 0.12);
  transform: translateY(-5px);
}

.pricing-plan .pricing-deco {
  padding: 30px 0px 0px;
  position: relative;
}
.pricing-plan .pricing-title {
  font-size: 22px;
  padding: 10px 0px;
  font-weight: 500;
}

.pricing-plan .pricing-price {
  font-size: 34px;
  font-weight: 600;
  padding: 0;
  margin: 0 0 0.25em 0;
  line-height: 0.75;
}
.pricing-plan .pricing-currency {
  font-size: 18px;
  vertical-align: top;
  font-weight: 500;
}

/* Pricing Plan SEnd */


 /* ============================================
 Blog Area Start
================================================ */
.blogs .blog-box {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  -moz-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  -o-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.blogs .blog-box:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.10), 0 6px 6px rgba(0, 0, 0, 0.10);
  transform: translateY(-2px);
}

.blogs .blog-box .blog-images {
  overflow: hidden;
}

.blogs .blog-box .blog-images img {
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.blogs .blog-box:hover .blog-images img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.blogs .blog-box .blog-details {
  padding: 43px 20px 30px;
  text-align: left;
  position: relative;
}

.blogs .blog-box .blog-details .blog-title {
  font-size: 20px;
  line-height: 30px;
  color: #242424;
  margin-bottom: 17px;
  display: block;
  font-weight: 600;
}

.blogs .blog-box .blog-details .post-meta-one {
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 14px;
  position: absolute;
  text-align: center;
  top: -20px;
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10), 0 3px 6px rgba(0, 0, 0, 0.10);
  width: 90%;
  left: 5%;
  height: 40px;
  line-height: 40px;
  border-radius: 3px;
}

.blogs .blog-box .blog-details .post-meta-one li {
  display: inline-block;
}

.blogs .blog-box .blog-details .post-meta-one li a {
  color: #555;
  font-size: 14px;
  margin-bottom: 0px;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.blogs .blog-box .blog-details .post-meta-one li a i {
  margin-right: 2px;
}

.blogs .blog-box .blog-details .post-meta-one li:first-child {
  margin-right: 10px;
}

/* Blog Area end */

  /*--------------------------------------------------------------
  # Contact
  --------------------------------------------------------------*/
  .contact .info {
    width: 100%;
    background: #fff;
  }
  .contact .info i {
    font-size: 20px;
    color: #ffffff;
    float: left;
    width: 44px;
    height: 44px;
    background: #34b7a7;
    border: 1px solid transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
  }
  .contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #222222;
  }
  .contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #555555;
  }
  .contact .info .email, .contact .info .phone {
    margin-top: 40px;
  }
  .contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
    background: #ffffff;
    color: #34b7a7;
    border: 1px solid #34b7a7;
  }
  .contact .php-email-form {
    width: 100%;
    background: #fff;
  }
  .contact .php-email-form .form-group {
    padding-bottom: 8px;
  }
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
  }
  .contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 4px;
    box-shadow: none;
    font-size: 14px;
  }
  .contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #34b7a7;
  }
  .contact .php-email-form input {
    height: 44px;
  }
  .contact .php-email-form textarea {
    padding: 10px 12px;
  }

  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  /*--------------------------------------------------------------
  # Footer
  --------------------------------------------------------------*/
  #footer {
    background: #e9e8e6;
    padding: 30px 0;
    color: #222222;
    font-size: 14px;
    text-align: center;
  }

  #footer .social-links {
    margin: 0 0 40px 0;
  }
  #footer .social-links a {
    font-size: 15px;
    display: inline-block;
    background: #34b7a7;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 10px;
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .social-links a i {
    margin-top: 2px;
  }
  #footer .social-links a:hover {
    color: #34b7a7;
    background: #ffffff;
    border: 1px solid #34b7a7 ;
  }

/*========================================
breadcrumb-area Start
========================================*/
.breadcrumb-area {
  background: url("../img/breadcrumb_image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px 100px;
  position: relative;
  overflow: hidden;

}
.breadcrumb-area .container{
  margin-top: 60px!important;
}

.breadcrumb-area .overlay {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);


}

.breadcrumb-area .title {
  color: #fff;
  font-size: 34px;
  line-height: 44px;
  font-weight: 500;
  margin-bottom: 12px;
  user-select: auto;

}

.breadcrumb-area .links {
  padding-left: 0px;

}

.breadcrumb-area .links li {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  color: #fff;
  font-size: 16px;
  line-height: 26px;
}

.breadcrumb-area .links li::after {
  position: absolute;
  content: "\f054";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -17px;
  font-size: 12px;
  color: #fff;
}

.breadcrumb-area .links li:last-child::after {
  display: none;
}

.breadcrumb-area .links li a {
  color: #fff;
  font-size: 16px;
  line-height: 26px;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
/*========================================
breadcrumb-area end
========================================*/

.content{
  margin-top: 80px;
  margin-bottom: 20px;
}
.content .card{
  border-radius: 10px!important;
  border: none;
  box-shadow:4px 4px 30px 0px rgb(1 0 43 / 7%);

}

.content .card .card-img{
  padding: 20px 20px 20px;
}

.content .card .card-body{
  padding: 20px 20px 20px;

}


/*========================================
service details Start
========================================*/

.content .card .service-category{
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
  padding-bottom: 10px;
  margin-bottom: 20px ;
  text-align: center;
}

/*========================================
portfolios page Start
========================================*/
#work {
  background-color: #F7F8FC;
  position: relative;
}
#work.section-padding {
  padding: 115px 0px 120px;
}

.portfolio-category {
  display: block;
  text-align: center;
  margin-bottom: 34px
}

.portfolio-category li {
  display: inline-block;
}

.portfolio-category li a {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px 20px;
  margin: 2px 4px;
  color: #222;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.portfolio-category li:hover a,
.portfolio-category li.active a {
  background: #34b7a7;
  color: #fff;
}
nav.pagination-nav .pagination {
  display: block;
  text-align: center;
}

nav.pagination-nav .pagination li {
  display: inline-block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
  width: 35px;
  height: 35px;
  border-radius: 50% !important;
  overflow: hidden;
  text-align: center;
  margin: 0px 4px;
  color: #222;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

nav.pagination-nav .pagination li a,
nav.pagination-nav .pagination li span,
nav.pagination-nav .pagination li p {
  padding: 0px !important;
  line-height: 35px !important;
  display: block;
  border: 0px !important;
  box-shadow: unset !important;
  border-radius: 50% !important;
  border-radius: 0px !important;
  margin: 0px !important;
  background: #fff !important;
  color: #222;
}

nav.pagination-nav .page-item.active .page-link,
nav.pagination-nav .page-item:hover .page-link {
  background: #34b7a7!important;
  color: #fff!important;
}

/*========================================
portfolios details page Start
========================================*/
.content .portfolio-details-slider img {
  width: 100%;
}
.content .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.content .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #34b7a7;
}
.content .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #34b7a7;
}

.list-group-flush>.list-group-item {
  border-width: 0 0 0 !important;
  margin-bottom: 8px !important;
}


/*========================================
Blogs Page Start
========================================*/
.search-form {
  position: relative;
}

 .search-form input {
  width: 100%;
  height: 60px;
  border: 0px;
  background: none;
  padding: 0px 50px 0px 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 30px 0px rgba(1, 0, 43, 0.07);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}

.search-form input:focus {
  outline: 0px;
}

.search-form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 50px;
  border: none;
  background: none;
  color: #777;
  font-size: 14px;
  cursor: pointer;
}

.search-form button:focus {
  outline: 0;
}

.post-list {
  padding-left: 0px;
  margin-bottom: 0px;
  margin-top: 30px;
}

.post-list li {
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 14px;
  margin-bottom: 15px;
}

.post-list li:last-child {
  border-bottom: 0px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.post-list li .post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.post-list li .post .post-img {
  /* width: 100px; */
  /* height: 100px; */
  max-width: 100px;
  margin-right: 20px;
}

.post-list li .post .post-img img {
  width: 100%;
}

.post-list li .post .post-details {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.post-list li .post .post-details .post-title {
  color: #2f3744;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 4px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.post-list li .post .post-details .post-title:hover {
  color: #9191ff;
}

.post-list li .post .post-details .date {
  color: #7b8698;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0px;
}

/*========================================
blog details page Start
========================================*/

 .post-meta {
  padding-left: 0px;
  margin-bottom: 15px;
  margin-top: 15px;
}

 .post-meta li {
  list-style: none;
  display: inline-block;
}

.post-meta li a {
  font-size: 14px;
  margin-right: 10px;
  color: #777;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.post-meta li a:hover {
  color: #9191ff;
}


.client .client-slider .item {
  display: block;
  text-align: center;
}

.client .client-slider .item a {
  display: inline-block;
}

.client .client-slider {
  padding-bottom: 20px;
}
